<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Venzura-oneStop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordServlet</display-name>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/ResetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveCategoryItemServlet</display-name>
    <servlet-name>SaveCategoryItemServlet</servlet-name>
    <servlet-class>SaveCategoryItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCategoryItemServlet</servlet-name>
    <url-pattern>/SaveCategoryItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveDecorationServlet</display-name>
    <servlet-name>SaveDecorationServlet</servlet-name>
    <servlet-class>SaveDecorationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveDecorationServlet</servlet-name>
    <url-pattern>/SaveDecorationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveDec</display-name>
    <servlet-name>SaveDec</servlet-name>
    <servlet-class>SaveDec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveDec</servlet-name>
    <url-pattern>/SaveDec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDecServlet</display-name>
    <servlet-name>EditDecServlet</servlet-name>
    <servlet-class>EditDecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDecServlet</servlet-name>
    <url-pattern>/EditDecServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateDecServlet</display-name>
    <servlet-name>updateDecServlet</servlet-name>
    <servlet-class>updateDecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateDecServlet</servlet-name>
    <url-pattern>/updateDecServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVenServ</display-name>
    <servlet-name>AddVenServ</servlet-name>
    <servlet-class>AddVenServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVenServ</servlet-name>
    <url-pattern>/AddVenServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addven</display-name>
    <servlet-name>Addven</servlet-name>
    <servlet-class>Addven</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addven</servlet-name>
    <url-pattern>/Addven</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateVenueServlet</display-name>
    <servlet-name>UpdateVenueServlet</servlet-name>
    <servlet-class>UpdateVenueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVenueServlet</servlet-name>
    <url-pattern>/UpdateVenueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMusicHostServlet</display-name>
    <servlet-name>AddMusicHostServlet</servlet-name>
    <servlet-class>AddMusicHostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMusicHostServlet</servlet-name>
    <url-pattern>/AddMusicHostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMusicHostServlet</display-name>
    <servlet-name>UpdateMusicHostServlet</servlet-name>
    <servlet-class>UpdateMusicHostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMusicHostServlet</servlet-name>
    <url-pattern>/UpdateMusicHostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingServlet</display-name>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>BookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/BookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentSuccessServlet</display-name>
    <servlet-name>PaymentSuccessServlet</servlet-name>
    <servlet-class>PaymentSuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentSuccessServlet</servlet-name>
    <url-pattern>/PaymentSuccessServlet</url-pattern>
  </servlet-mapping>
</web-app>